body {
    background: #e472b1;
    color: #fffaaa;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: stretch;
    align-items: center;
  }
  .saida {
    display: flex;
    align-items: center;
    
    width: 145px;
    height: 54px;
  
    background: rgb(204, 62, 180);
    padding: 20px;
    border-radius: 10px;
    color: #fff;
    font-size: 30px;
  }